<div class="wrapper detail-shoe-container">
    <section id="shoe-detail">
        <form action="/shoe/checkout" method="post">
            <div class="row">
                <div class="col-12 col-lg-7 col-xl-7">
                    <div class="form-group">
                        <label>Information</label>
                        <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
                        {{!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> --}}
                    </div>
                    <div class="form-group">
                        <label>Shipping address</label>
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="First Name">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Last Name">
                            </div>
                        </div>

                        <input type="text" class="form-control" placeholder="Street Address">
                        <select name="city" id="" class="form-control">
                            <option selected value="hcm">TP HCM</option>
                            <option value="hn">Ha Noi</option>
                            <option value="hue">Hue</option>
                        </select>
                        <select name="district" id="" class="form-control">
                            <option selected value="binhtan">Binh Tan</option>
                            <option value="quan8">Quan 8</option>
                            <option value="quan1">Quan 1</option>
                        </select>
                        <input type="number" name="phone" id="" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-outline-success">Apply</button>
                </div>

                <div class="col-12 col-lg-5 col-xl-5">
                    {{#if session.cart}}
                    <div class="row">
                        <img class="img-checkout" src="../uploads/{{shoeDetail.image}}" alt="{{shoeDetail.name}}">
                        <span>{{shoeDetail.name}}</span>
                        <h1>{{formatCurrency shoeDetail.price}}</h1>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="" placeholder="Enter Promo Code">
                        <button type="button" class="btn btn-dark">Apply</button>
                    </div>
                    <hr>
                    <span>Total: {{formatCurrency shoeDetail.price}}</span>
                    {{else}}
                    <h1>There is no shoe available for check out</h1>
                    {{/if}}
                </div>
            </div>
        </form>
    </section>
</div>