
<div class="wrapper cart-container container-custom">
<div class="wrap wrap-shoe-custom">

  <section class="transparent">
    {{#each custom}}
    <div class="main-img-custom">
        <div class="img-custom-1 open-img-custom-1">
                <img class="af1-custom-images" src="/images/shoetype1.png" alt="">
                <div class="main-swooth-custom" style="background-color: {{this.swooth}};" ></div>
                <div class="main-midsole-custom" style="background-color: {{this.midsole}};" ></div>
                <div class="main-middle-custom" style="background-color: {{this.middle}};" ></div>
                <div class="main-head-custom" style="background-color: {{this.head}};" ></div>
                <div class="main-back-custom" style="background-color: {{this.back}};" ></div>
                <div class="main-backward-custom" style="background-color: {{this.backward}};" ></div>
        </div>
      </div>

      <div class="btn-custom-list">
        <button>Remove</button>
        <button>Edit</button>
        <button>Add to cart</button>
      </div>

    {{/each}}
  </section>
</div>
</div>