
<div class="wrapper cart-container container-custom">
<div class="wrap wrap-shoe-custom">

  <section class="transparent">
    {{#each custom}}
    <div class="main-img-custom">
        <div class="img-custom-1 open-img-custom-1">
                <img class="af1-custom-images" src="/images/shoetype1.png" alt="">
                <div class="main-swooth-custom" style="background-color: {{this.swooth}};" ></div>
                <div class="main-midsole-custom" style="background-color: {{this.midsole}};" ></div>
                <div class="main-middle-custom" style="background-color: {{this.middle}};" ></div>
                <div class="main-head-custom" style="background-color: {{this.head}};" ></div>
                <div class="main-back-custom" style="background-color: {{this.back}};" ></div>
                <div class="main-backward-custom" style="background-color: {{this.backward}};" ></div>
        </div>
      </div>
      {{!-- <div class="btn-custom-list"> --}}
        <form method="POST" action="/shoe/delete-custom/{{this._id}}">
          <button class="btn btn-danger button-delete">Remove</button>
          <input type="text" name="size" placeholder="Input size">
          <button type="button" class="btn btn-success store-custom-to-cart" data-id="{{this._id}}">Add to cart</button>
        </form>
      {{!-- </div> --}}
    {{/each}}
  </section>
</div>
</div>


<script>
  $('.store-custom-to-cart').on('click', function (e) {
    e.preventDefault()
    var customId = $(this).data('id')
    var size = $('input[name="size"]').val()
    console.log(size)

    $.ajax({
      method: 'POST',
      url: '/shoe/store-custom-to-cart/' + customId + '?size=' + size
    })
  })
</script>