<div class="wrapper detail-shoe-container">
    <section id="shoe-detail">
        <div class="row">
            <div class="col-sm-12 col-md-7 col-lg-9">
                <img src="../uploads/{{shoeDetail.image}}" alt="{{shoeDetail.name}}">
            </div>

            <div class="col-sm-12 col-md-5 col-lg-3 p-4">
                <span>{{shoeDetailTitle}}</span>
                <h1>{{shoeDetail.name}}</h1>
                <h2 id="money-dot" class="money-dot-anywhere">{{shoeDetail.price}}</h2>
                <span>{{shoeDetail.brand.name}}</span>
                <h3 class="mt-4">
                Back in the sunshine with the shoe's leisurely yet sophisticated new styles. Solomon Midi Skirt from the Resort 2022 Collection.
                </h3>

                <div class="row mt-3">
                    <div class="col-8 col-md-9">
                        <span>size</span>
                        {{!-- <option name="size">
                            <select value="1" selected>36</select>
                            <select value="1">37</select>
                            <select value="1">38</select>
                            <select value="1">39</select>
                            <select value="1">40</select>
                        </option> --}}
                        <div id="size-options">
                            <a href="#">36</a>
                            <a href="#">37</a>
                            <a href="#">38</a>
                            <a href="#">39</a>
                            <a href="#">40</a>
                        </div>
                    </div>

                    <div class="col-4 col-md-3 row">
                        <div class="col-12">  
                            <span>colour</span>
                        </div>
                        <i class="fa fa-color-circle" style="background: {{shoeDetail.color}};"></i>
                    </div>

                    <a href="#" id="size-guide-btn"> SIZE GUIDE</a>

                    <button class="btn btn-outline-dark mt-5">pre-order</button>

                    <h3 class="mt-4">
                        *All pre-orders will take 30 working days for preparation. Once your pre-orders are ready, you will receive an email for confirmation with tracking information. 
                        More detail <a href="#" class="text-muted" id="more-detail">click here</a>.
                    </h3>

                    <ul class="mt-4">
                        <li class="nav-list-items">
                            <i class="fa fa-plus"> PRODUCT DETAILS</i> 
                            <div>
                                <ul>
                                    <li>{{shoeDetail.name}}</li>
                                    <li>{{shoeDetail.type.name}}</li>
                                    <li>{{shoeDetail.brand.name}}</li>
                                    <li>bestseller</li>
                                    <li>{{moment shoeDetail.createdAt format="DD/MM/yyyy"}}</li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-list-items">
                            <i class="fa fa-plus"> SIZE & FIT</i>
                            <div>Chưa nghĩ ra viết gì ở đây :'(</div>
                        </li>
                        <li class="nav-list-items">
                            <i class="fa fa-plus"> SHIPPING & RETURNS</i>
                            <div>
                                <ul>
                                Delivery within Vietnam:
                                    <li>Shipping within HCMC – 30,000 VND.</li>
                                    <li>Shipping outside HCMC – 40,000 VND.</li>
                                </ul>
                                <ul>
                                Delivery outside of Vietnam:
                                    <li>Standard shipping – From $26</li>
                                    <li>Free standard shipping on orders over $500</li>
                                    Easy 14 days return from the delivery date. No return available for sale products.
                                    <br>
                                    Read more <a href="#" class="text-muted" id="href-a-shoe-detail">SHIPPING & RETURNS</a>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <section id="another-shoe-detail">
        <div class="row">
            <div class="col-12">
                <h1>you may also like</h1>
            </div>
            <div class="col-12 row">
                {{#each shoe}}
                    <div class="col-6 col-lg-3 mt-2">
                        <div class="card">
                            <div class="img-container">
                                <a href="/shoe/{{this._id}}?&brandid={{this.brand._id}}">
                                <img src="../uploads/{{this.image}}" alt="{{this.name}}" class="images-index">
                                <div class="overlay">See detail</div>
                                </a>
                            </div>
                            <div class="content">
                                <div>{{this.name}}</div>
                                <div class="mb-4 text-muted money-dot-anywhere" id="money-dot">{{this.price}}</div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </section>
</div>