<div class="wrapper detail-shoe-container">
    <section id="shoe-detail">
        <div class="row">
            <div class="col-sm-12 col-md-7 col-lg-9">
                <img src="../uploads/{{shoeDetail.image}}" alt="{{shoeDetail.name}}">
            </div>

            <div class="col-sm-12 col-md-5 col-lg-3 p-4">
                <span>{{shoeDetailTitle}}</span>
                <h1>{{shoeDetail.name}}</h1>
                <h2>{{formatCurrency shoeDetail.price}} VND</h2>
                <span>{{shoeDetail.brand.name}}</span>
                <h3 class="mt-4">
                Back in the sunshine with the shoe's leisurely yet sophisticated new styles. Solomon Midi Skirt from the Resort 2022 Collection.
                </h3>

                <div class="row mt-3">
                    <div class="col-8 col-md-9">
                        <span>size</span>
                        <div id="size-options">
                            {{#each shoeDetail.size}}
                                {{#ifeq stock 0}}
                                    <span disabled>{{number}}</span>
                                {{else}}
                                    <input type="radio" class="checked" id="{{number}}" name="size" value="{{number}}">
                                    <label for="{{number}}" class="radio-checked">{{number}}</label>
                                {{/ifeq}}
                            {{/each}}
                        </div>
                    </div>

                    <div class="col-4 col-md-3 row">
                        <div class="col-12">  
                            <span>colour</span>
                        </div>
                        <i class="fa fa-color-circle" style="background: {{shoeDetail.color}};"></i>
                    </div>

                    <a href="" id="size-guide-btn" data-toggle="modal" data-target=".bd-example-modal-lg"> SIZE GUIDE</a>

                    <button id="pre-order-btn" type="button" class="btn btn-outline-dark mt-5" data-toggle="modal">pre-order</button>
                    <span class="badge-danger text-danger" id="noti-pre-order">You need to select size first.</span>

                    <h3 class="mt-4">
                        *All pre-orders will take 30 working days for preparation. Once your pre-orders are ready, you will receive an email for confirmation with tracking information. 
                        More detail <a href="#" class="text-muted" id="more-detail">click here</a>.
                    </h3>

                    <ul class="mt-4">
                        <li class="nav-list-items">
                            <i class="fa fa-plus"> PRODUCT DETAILS</i> 
                            <div>
                                <ul>
                                    <li>{{shoeDetail.name}}</li>
                                    <li>{{shoeDetail.type.name}}</li>
                                    <li>{{shoeDetail.brand.name}}</li>
                                    <li>bestseller</li>
                                    <li>{{moment shoeDetail.createdAt format="DD/MM/yyyy"}}</li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-list-items">
                            <i class="fa fa-plus"> SIZE & FIT</i>
                            <div>Chưa nghĩ ra viết gì ở đây :'(</div>
                        </li>
                        <li class="nav-list-items">
                            <i class="fa fa-plus"> SHIPPING & RETURNS</i>
                            <div>
                                <ul>
                                Delivery within Vietnam:
                                    <li>Shipping within HCMC – 30,000 VND.</li>
                                    <li>Shipping outside HCMC – 40,000 VND.</li>
                                </ul>
                                <ul>
                                Delivery outside of Vietnam:
                                    <li>Standard shipping – From $26</li>
                                    <li>Free standard shipping on orders over $500</li>
                                    Easy 14 days return from the delivery date. No return available for sale products.
                                    <br>
                                    Read more <a href="#" class="text-muted" id="href-a-shoe-detail">SHIPPING & RETURNS</a>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <hr>

    <section id="another-shoe-detail">
        <div class="row">
            <div class="col-12">
                <h1>you may also like</h1>
            </div>
            <div class="col-12 row">
                {{#each shoe}}
                    <div class="col-6 col-lg-3 mt-2">
                        <div class="card">
                            <div class="img-container">
                                <a href="/shoe/{{this._id}}?&brandid={{this.brand._id}}">
                                <img src="../uploads/{{this.image}}" alt="{{this.name}}" class="images-index">
                                <div class="overlay">See detail</div>
                                </a>
                            </div>
                            <div class="p-2">
                                <div>{{this.name}}</div>
                                <div class="mb-4 text-muted">{{formatCurrency this.price}} VND</div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </section>


    {{!-- SIZE GUIDE MODAL --}}
    <div id="size-guide-modal" class="size-guide-modal">
        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg text-center">
                <div class="modal-content">
                <div class="modal-header">
                    <h3>Size Guide</h3>
                    <span class="size-guide-close">&times;</span>
                    </div>
                <div class="modal-body">
                    <h6 class="container-fluid">If your measurements are not consistent with a single column, use your waist measurement to determine your ideal size.</h6>
                    
                    <div class="shoe-sections">
                        <button class="active" data-switch="#shoe-men-size">Men</button>
                        <button data-switch="#shoe-women-size">Women</button>
                    </div>

                    <div id="shoe-size-pages">
                        <div id="shoe-men-size">
                            <table class="table table-responsive">
                            <thead>
                                <tr>
                                <th scope="col">Our Size</th>
                                <th scope="col">US</th>
                                <th scope="col">UK</th>
                                <th scope="col">Inches</th>
                                <th scope="col">Centimet</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <th scope="row">39</th>
                                <td>6</td>
                                <td>5.5</td>
                                <td>9.25"</td>
                                <td>23.5</td>
                                </tr>
                                <tr>
                                <th scope="row">39-40</th>
                                <td>6.5</td>
                                <td>6</td>
                                <td>9.5"</td>
                                <td>24.1</td>
                                </tr>
                                <tr>
                                <th scope="row">40</th>
                                <td>7</td>
                                <td>6.5</td>
                                <td>9.625"</td>
                                <td>24.4</td>
                                </tr>
                                <tr>
                                <th scope="row">40-41</th>
                                <td>7.5</td>
                                <td>7</td>
                                <td>9.75"</td>
                                <td>24.8</td>
                                </tr>
                                <tr>
                                <th scope="row">41</th>
                                <td>8</td>
                                <td>7.5</td>
                                <td>9.9375"</td>
                                <td>25.4</td>
                                </tr>
                                <tr>
                                <th scope="row">41-42</th>
                                <td>8.5</td>
                                <td>8</td>
                                <td>10.125"</td>
                                <td>25.7</td>
                                </tr>
                                <tr>
                                <th scope="row">42</th>
                                <td>9</td>
                                <td>8.5</td>
                                <td>10.25"</td>
                                <td>26</td>
                                </tr>
                                <tr>
                                <th scope="row">42-43</th>
                                <td>9.5</td>
                                <td>9</td>
                                <td>10.4375"</td>
                                <td>26.7</td>
                                </tr>
                                <tr>
                                <th scope="row">43</th>
                                <td>10</td>
                                <td>9.5</td>
                                <td>10.5625"</td>
                                <td>27</td>
                                </tr>
                                <tr>
                                <th scope="row">43-44</th>
                                <td>10.5</td>
                                <td>10</td>
                                <td>10.75"</td>
                                <td>27.3</td>
                                </tr>
                                <tr>
                                <th scope="row">44</th>
                                <td>11</td>
                                <td>10.5</td>
                                <td>10.9375"</td>
                                <td>27.9</td>
                                </tr>
                                <tr>
                                <th scope="row">44-45</th>
                                <td>11.5</td>
                                <td>11</td>
                                <td>11.125"</td>
                                <td>28.3</td>
                                </tr>
                                <tr>
                                <th scope="row">45</th>
                                <td>12</td>
                                <td>11.5</td>
                                <td>11.25"</td>
                                <td>28.6</td>
                                </tr>
                                <tr>
                                <th scope="row">46</th>
                                <td>13</td>
                                <td>12.5</td>
                                <td>11.5625"</td>
                                <td>29.4</td>
                                </tr>
                            </tbody>
                            </table>
                        </div>

                        <div id="shoe-women-size">
                            <table class="table table-responsive">
                            <thead>
                                <tr>
                                <th scope="col">Our Size</th>
                                <th scope="col">US</th>
                                <th scope="col">UK</th>
                                <th scope="col">Inches</th>
                                <th scope="col">Centimet</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <th scope="row">34-35</th>
                                <td>4</td>
                                <td>2</td>
                                <td>8.1875"</td>
                                <td>20.8</td>
                                </tr>
                                <tr>
                                <th scope="row">35</th>
                                <td>4.5</td>
                                <td>2.5</td>
                                <td>8.375"</td>
                                <td>21.3</td>
                                </tr>
                                <tr>
                                <th scope="row">35-36</th>
                                <td>5</td>
                                <td>4</td>
                                <td>8.5"</td>
                                <td>21.6</td>
                                </tr>
                                <tr>
                                <th scope="row">36</th>
                                <td>5.5</td>
                                <td>3.5</td>
                                <td>8.75"</td>
                                <td>22.2</td>
                                </tr>
                                <tr>
                                <th scope="row">36-37</th>
                                <td>6</td>
                                <td>4</td>
                                <td>8.8075"</td>
                                <td>22.5</td>
                                </tr>
                                <tr>
                                <th scope="row">37</th>
                                <td>6.5</td>
                                <td>4.5</td>
                                <td>9.0625"</td>
                                <td>33</td>
                                </tr>
                                <tr>
                                <th scope="row">37-38</th>
                                <td>7</td>
                                <td>5</td>
                                <td>9.25"</td>
                                <td>23.5</td>
                                </tr>
                                <tr>
                                <th scope="row">38</th>
                                <td>7.5</td>
                                <td>5.5</td>
                                <td>9.375"</td>
                                <td>23.8</td>
                                </tr>
                                <tr>
                                <th scope="row">38-39</th>
                                <td>8</td>
                                <td>6</td>
                                <td>9.5"</td>
                                <td>24.1</td>
                                </tr>
                                <tr>
                                <th scope="row">39</th>
                                <td>8.5</td>
                                <td>6.5</td>
                                <td>9.6875"</td>
                                <td>24.6</td>
                                </tr>
                                <tr>
                                <th scope="row">39-40</th>
                                <td>9</td>
                                <td>7</td>
                                <td>9.875"</td>
                                <td>25.1</td>
                                </tr>
                                <tr>
                                <th scope="row">40</th>
                                <td>9.5</td>
                                <td>7.5</td>
                                <td>10"</td>
                                <td>25.4</td>
                                </tr>
                                <tr>
                                <th scope="row">40-41</th>
                                <td>10</td>
                                <td>8</td>
                                <td>10.1875"</td>
                                <td>25.9</td>
                                </tr>
                                <tr>
                                <th scope="row">41</th>
                                <td>10.5</td>
                                <td>8.5</td>
                                <td>10.3125"</td>
                                <td>26.2</td>
                                </tr>
                                <tr>
                                <th scope="row">41-42</th>
                                <td>11</td>
                                <td>0</td>
                                <td>10.5"</td>
                                <td>26.7</td>
                                </tr>
                                <tr>
                                <th scope="row">42</th>
                                <td>11.5</td>
                                <td>9.5</td>
                                <td>10.6875"</td>
                                <td>27.1</td>
                                </tr>
                                <tr>
                                <th scope="row">42-43</th>
                                <td>12</td>
                                <td>10</td>
                                <td>10.875"</td>
                                <td>27.6</td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                </div>
            </div>
        </div>
    </div>

</div>


    {{!-- Modal pre-order (Cart) --}}
	<div class="modal right fade" id="pre-order-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
		<div class="modal-dialog" role="document">
			<div class="modal-content">

				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel2">My Cart</h4>
					<button type="button" class="close btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>

				<div class="modal-body row">
                    <div class="col-6">
                        <h2>From {{shoeDetail.brand.name}}</h2>
                        <h1>{{shoeDetail.name}}</h1>
                        <h2 id="size-checkout-modal"></h2>
                        <h3>Color: <span style="color:{{shoeDetail.color}}">{{shoeDetail.color}}</span></h3>
                        <h1>{{formatCurrency shoeDetail.price}} VND</h1>
                    </div>
                    <div class="col-6">
                        <img src="../uploads/{{shoeDetail.image}}" alt="{{shoeDetail.name}}">
                    </div>
				</div>
                {{!-- <hr> --}}

                <div class="modal-footer">
                    <a id="add-to-cart-href" data-id="{{shoeDetail._id}}" href="/shoe/add-to-cart/{{shoeDetail._id}}?size="><button class="btn btn-outline-dark">Add to Cart</button></a>
                    <a href="/cart"><button class="btn btn-dark">Check out</button></a>
                </div>
			</div>
		</div>
	</div>
    
    

