
<div class="wrapper" style="padding: 30px 0px 30px 0px">
<div class="wrap">
  
  <div class="arrow animated bounce"></div>
      <div class="row">
        <h2 style="color: white; font-size: 50px;" class="text-center">Sửa sản phẩm {{product.name}}</h2>
          <div class="col-7">
            <section class="create-product-box">
                <form action="/product/{{product._id}}?_method=PUT" method="POST">

                    <div class="form-group">
                        <label for="name">Tên</label>
                        <input type="text" class="form-control" value="{{product.name}}" id="name" name="name" placeholder="Nhập tên"> 
                    </div>
                        <div class="form-group">
                            <label for="description">Vị</label>
                            <textarea class="form-control" id="description" name="description" >{{product.description}}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="category">Hãng</label>
                            <input type="text" class="form-control" value="{{product.category}}" id="category" name="category" placeholder="Nhập hãng"> 
                        </div>
                        <div class="form-group">
                            <label for="buff">Số lần hút</label>
                            <input type="number" class="form-control" value="{{product.buff}}" id="buff" name="buff" placeholder="Nhập số hơi"> 
                        </div>
                        <div class="form-group">
                            <label for="price">Giá</label>
                            <input type="number" class="form-control" value="{{product.price}}" id="price" name="price" placeholder="Nhập giá"> 
                        </div>
                        <div class="form-group">
                            <label for="stock">Số lượng</label>
                            <input type="number" class="form-control" value="{{product.stock}}" id="stock" name="stock" placeholder="Nhập số lượng"> 
                        </div>
                        <div class="form-group">
                            <label for="image">Hình ảnh</label>
                            <input type="text" class="form-control" value="{{product.image}}" id="image" name="image" placeholder="Nhập link hình"> 
                        </div>
                        <div class="form-group" hidden>
                            <label for="createdAt">Create at</label>

                            <input type="text" class="form-control" value="{{product.createdAt}}" id="createdAt" name="createdAt" placeholder="Nhập createdAt"> 
                        </div>
                        <div class="form-group" hidden>
                            <label for="updatedAt">Updated at</label>
                            <input type="text" class="form-control" value="{{product.updatedAt}}" id="updatedAt" name="updatedAt" placeholder="Nhập updatedAt"> 
                        </div> 
                        <div class="form-group" hidden disabled>
                            <label for="slug">Slug</label>
                            <input type="text" class="form-control" value="{{product.slug}}" id="slug" name="slug" placeholder="Nhập slug"> 
                        </div>
                    <input class="btn-lg form-control btn-secondary mt-4" type="submit" value="Edit">
                </form>
            </section>
        </div>

            <div class="col-5">
                <div class="img-edit-page">
                    <img src="{{product.image}}" alt="Product">
                </div>
            </div>
      </div>
</div>
</div>
  

