
<div class="wrapper wrapper-manage">
<div class="wrap wrap-manage">
  
  <div class="arrow animated bounce"></div>
    <section class="create-product-box manage-product-box">
        <h2><B>Quản lý</B></h2>
        <i class="fa fa-arrow-left btn btn-danger" aria-hidden="true" onclick="Back()"></i><br>
        <a href="/product/trash"><i class="fa fa-trash p-3"></i></a> (Total: {{deletedCount}})<br>

        <form name="container-form" action="/product/handle-form-actions" method="POST">
            {{!-- <div class="mt-4 d-flex align-items-center">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
                    <label class="form-check-label" for="checkbox-all">Chọn tất cả</label>
                </div>

                <select class="checkbox-select-all-options" name="action" required>
                    <option value="delete">Delete</option>
                </select>

                <button value="Do action" type="button" class="btn btn-primary disabled check-all-submit-btn">Do Action</button>
            </div> --}}
        <div class="table-responsive">
            
            <table class="table mt-4 table-responsive">
                <thead>
                    <tr id="manage-line1">
                        <th scope="col"><i>Tổng {{storedCount}}</i></th>
                        <th scope="col">Tên</th>
                        <th scope="col">Vị</th>
                        <th scope="col">Hãng</th>
                        <th scope="col">Lần hút</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Giá (VND)</th>
                        <th scope="col">Ngày tạo</th>
                        <th scope="col">Hành động <a href="/product/create"><i class="fa fa-plus btn btn-success" aria-hidden="true"> Tạo</i></a></th>
                    </tr>
                </thead>

                <tbody>
                    {{#each product}}
                    <tr id="manage-line2">
                        {{!-- <td>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="productIds[]" value="{{this._id}}">
                            </div>
                        </td> --}}
                        <th scope="row">{{sum @index 1}}</th>
                        <td><b>{{this.name}}</b></td>
                        <td>{{this.description}}</td>
                        <td>{{this.category}}</td>
                        <td>{{this.buff}}</td>
                        <td>{{this.stock}}</td>
                        <td>{{this.price}}</td>
                        <td>{{moment this.createdAt format="DD-MM-YYYY"}}</td>
                        <td style="padding:5px">
                            <a href="/product/{{this._id}}/edit">
                                <button type="button" class="btn btn-primary">Sửa</button></a>
                            <a href="/product/{{this.slug}}">
                                <button type="button" class="btn btn-secondary">Chi tiết</button></a>
                            <a href="" data-toggle="modal" data-target="#delete-product" data-id="{{this._id}}">
                                <button type="button" class="btn btn-danger btn-modify">Xóa</button></a>
                        </td>
                    </tr>
                        {{else}}
                    <tr>
                        <td colspan="10">You have not created any product.
                            <a href="/product/create"><i>Create new one?</i></a>
                        </td>
                    </tr>
                        {{/each}}
                </tbody>
            </table>
        </div>
        </form>
        </section>
</div>
</div>


        {{!-- Confirm delete code --}}
        <div class="modal fade" id="delete-product" tabindex="-1" role="dialog" aria-labelledby="delete-categoryLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content modal-header-confirm-delete">
                    <div class="modal-header">
                        <h5 class="modal-title" id="delete-categoryLabel"><b>Delete Product</b></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">Are you sure to delete this product?</div>
                    
                    <div class="modal-footer">
                        <button id="btn-delete-product" type="button" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>

            <!-- Delete multiple products model confirm -->
        <div class="modal fade" id="delete-multiple-products" tabindex="-1" role="dialog" aria-labelledby="delete-multiple-productLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content modal-header-confirm-delete">
                    <div class="modal-header">
                        <h5 class="modal-title" id="delete-multiple-productLabel"><b>Delete product</b></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    
                    <div class="modal-body">Are you sure to <b>delete</b> these products?</div>
                
                    <div class="modal-footer">
                        <button class="btn btn-danger btn-small delete-multiple-products-btn">Delete</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
            {{!-- Delete form hidden --}}
    <form name="delete-product-form" method="post"></form>

    <script>
        //WHEN HTML DOM is loaded, Delete confirm shows
        document.addEventListener('DOMContentLoaded', function(){
            var productId;
            var deleteForm = document.forms['delete-product-form'];
            var checkboxAll = $('#checkbox-all');
            var productItemCheckBox = $('input[name="productIds[]"]');
            var deleteMultipleProductsBtn = $('.delete-multiple-products-btn');
            var containerForm = document.forms['container-form'];
            var checkAllSubmitBtn = $('.check-all-submit-btn');

            $('#delete-product').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget)
                productId = button.data('id')
            })

            //When delete product btn clicked
            var btnDeleteCategory = document.getElementById('btn-delete-product')
            btnDeleteCategory.onclick = function(){
                deleteForm.action = '/product/' + productId + '?_method=DELETE';
                deleteForm.submit();
            }

            //Checkbox all clicked
            checkboxAll.change(function () {
                var isCheckedAll = $(this).prop('checked');
                    productItemCheckBox.prop('checked', isCheckedAll);
                    renderCheckAllSubmitBtn();
            });
            productItemCheckBox.change(function () {
                var isCheckedAll = productItemCheckBox.length === $('input[name="productIds[]"]:checked').length;
                checkboxAll.prop('checked', isCheckedAll);
                renderCheckAllSubmitBtn();
            })
            
            //Check all submit btn clicked not submit
            deleteMultipleProductsBtn.on('submit', function (e) {
                var isSubmittable = !$(this).hasClass('disable');
                if(!isSubmittable){
                    e.preventDefault();
                }
            })
            checkAllSubmitBtn.on('change', function (e) {
                var isSubmittable = !$(this).hasClass('disable');
                if(isSubmittable){
                    e.preventDefault();
                    console.log('123')
                }
            })
            
            //Re-render check all submit button <Go>
            function renderCheckAllSubmitBtn() {
                var checkedCount = $('input[name="productIds[]"]:checked').length;
                if(checkedCount > 0){
                    deleteMultipleProductsBtn.removeClass('disabled');
                    checkAllSubmitBtn.removeClass('disabled');
                    checkAllSubmitBtn.attr("data-toggle","modal");
                    checkAllSubmitBtn.attr("data-target","#delete-multiple-products");
                } else{
                    deleteMultipleProductsBtn.addClass('disabled');
                    checkAllSubmitBtn.addClass('disabled');
                    checkAllSubmitBtn.attr("data-toggle","");
                    checkAllSubmitBtn.attr("data-target","");
                }
            }
        })
        function Back()
        {
            history.back();
        }
    </script>