

<div class="wrapper wrapper-manage">
<div class="wrap wrap-manage">
  
  <div class="arrow animated bounce"></div>
    <section class="create-product-box manage-product-box">
        <h2>Thùng rác</h2>
        <i class="fa fa-arrow-left btn btn-danger" aria-hidden="true" onclick="Back()"></i><br>
        <a href="/product/manage">Kho quản lý</a> (Tổng: {{storedCount}})

            <form action="/product/handle-form-actions" method="POST">
                {{!-- <div class="mt-4 d-flex align-items-center">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
                        <label class="form-check-label" for="checkbox-all">
                            Select all products
                        </label>
                    </div>

                    <select class="checkbox-select-all-options" name="action" id="action-select" required>
                        <option value="restore" selected>Restore</option>
                        <option value="force">Delete from bin</option>
                    </select>

                    <button  type="button" 
                        class="btn btn-primary btn-small disabled check-all-submit-btn">Do action
                    </button>
                </div> --}}

                <div class="table-responsive table-sm">
                
                <table class="table mt-4 table-sm">
                <thead class="thead-mobile">
                    <tr>
                        <th scope="col"><i>Tổng {{storedCount}}</i></th>
                        <th scope="col">Tên</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Giá (VND)</th>
                        <th scope="col">Ngày tạo</th>
                        <th scope="col">Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each product}} 
                    <tr>
                        {{!-- <th>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="productIds[]" value="{{this._id}}" >
                                </label>
                            </div>
                        </th> --}}
                        <th scope="row">{{sum @index 1}}</th>
                        <td><b>{{this.name}}</b></td>
                        <td>{{this.stock}}</td>
                        <td>{{this.price}}</td>
                        <td>{{moment this.createdAt format="DD-MM-YYYY"}}</td>
                    <td style="padding:5px">
                        <a href="" data-toggle="modal" data-target="#restore-product" data-id="{{this._id}}"><button class="btn btn-primary btn-restore" >Khôi phục</button></a>
                        <a href="" data-toggle="modal" data-target="#delete-product" data-id="{{this._id}}"><button class="btn btn-danger btn-force">Xóa</button></a>
                    </td>
                    </tr>
                    {{else}}
                    <tr>
                        <td colspan="5" class="text-center">
                            Thùng rác rỗng.
                            <a href="/product/manage">Kho quản lý</a>
                        </td>
                    </tr>

                    {{/each}}
                </tbody>
                </table>
                </div>

            

            {{!-- Confirm force delete 1 product code --}}
            <div class="modal fade" id="delete-product" tabindex="-1" role="dialog" aria-labelledby="delete-eventLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="delete-eventLabel">Xóa sản phẩm</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Hành động này <b>không thể phục hồi</b> <br>
                        Mày có chắc <b>xóa vĩnh viễn</b> không?
                    </div>
                    <div class="modal-footer">
                        <button id="btn-delete-product" type="button" class="btn btn-danger ">Xóa chứ cc gì</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Để tao xem</button>
                    </div>
                    </div>
                </div>
                </div>

            {{!-- Confirm restore multiple products code --}}
            <div class="modal fade" id="restore-product" tabindex="-1" role="dialog" aria-labelledby="restore-eventLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="restore-eventLabel">Khôi phục sản phẩm</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Mày có chắc là muốn <b>khôi phục</b> sản phẩm này?
                    </div>
                    <div class="modal-footer">
                        <button id="btn-restore-product" type="button" class="btn btn-danger ">Khôi phục</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
                    </div>
                    </div>
                </div>
                </div>

                {{!-- Confirm force delete multiple products code --}}
            <div class="modal fade" id="action-change-modal" tabindex="-1" role="dialog" aria-labelledby="action-change-modalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="action-change-modalLabel">Action product</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <b>Are you sure</b> you want to do that change?
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger btn-action-change-restore"> Action</button>
                        {{!-- <button type="" class="btn btn-danger btn-action-change-modal">Permanently </button> --}}
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    </div>
                    </div>
                </div>
                </div>
        </form>
                {{!-- Delete and restore form hidden --}}
                <form name="delete-product-form" method="post"></form>
                <form name="restore-product-form" method="post"></form>
    </section>
</div>
</div>
<script>
    //WHEN HTML DOM is loaded, Delete confirm shows
    document.addEventListener('DOMContentLoaded', function(){
        var productId;
        var deleteForm = document.forms['delete-product-form'];
        var forceBtnAll = document.querySelectorAll('.btn-force');
        var restoreForm = document.forms['restore-product-form'];
        var restoreBtnAll = document.querySelectorAll('.btn-restore');
        var checkboxAll = $('#checkbox-all');
        var eventItemCheckBox = $('input[name="productIds[]"]');
        var checkAllSubmitBtn = $('.check-all-submit-btn');
        // When checkbox select all clicked
        checkboxAll.change( function () {
            var isCheckedAll = $(this).is(':checked');
            eventItemCheckBox.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn();
        })
        // When checkbox item clicked
        eventItemCheckBox.change( function () {
            var isCheckedAll = eventItemCheckBox.length === $('input[name="productIds[]"]:checked').length;
            checkboxAll.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn();
        })
        // Render submit action button 
        function renderCheckAllSubmitBtn(){
            var checkedCount = $('input[name="productIds[]"]:checked').length;
            if (checkedCount > 0 ){
                checkAllSubmitBtn.removeClass('disabled')
                checkAllSubmitBtn.attr("data-toggle","modal");
                checkAllSubmitBtn.attr("data-target","#action-change-modal");
                 $('.btn-action-change-restore').attr("type","submit")
            }
            else{
                checkAllSubmitBtn.addClass('disabled')
                checkAllSubmitBtn.attr("data-toggle","");
                checkAllSubmitBtn.attr("data-target","");
            }
        }
        
        //When button delete clicked
        $('#delete-product').on('show.bs.modal', function (product) {
        var button = $(product.relatedTarget)
        productId = button.data('id')
        })
        var btnDeleteEvent = document.getElementById('btn-delete-product')
        btnDeleteEvent.onclick = function(){
            deleteForm.action = '/product/' + productId + '/force?_method=DELETE';
            deleteForm.submit();
        }
        //When button restore clicked
        $('#restore-product').on('show.bs.modal', function (product) {
        var button = $(product.relatedTarget)
        productId = button.data('id')
        })
        var btnRestoreEvent = document.getElementById('btn-restore-product')
        btnRestoreEvent.onclick = function(){
            restoreForm.action = '/product/' + productId + '/restore?_method=PATCH';
            restoreForm.submit();
        }
        
        
        // Restore multiple products when btn clicked 
        $('.btn-action-change-restore').on('submit', function (e) {
            var isSubmittable = !$(this).hasClass('disable');
            if(!isSubmittable){
                e.preventDefault();
            }
        })
    })
    function Back()
        {
            history.back();
        }
</script>