<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">{{title}} Tables</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                <li class="breadcrumb-item active">Tables</li>
            </ol>
            <div class="card mb-2">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Brand Database
                </div>
                <div class="card-body">
                    <a href="/admin/brand-table">
                        <button class="btn btn-info mb-2"><i class="fa fa-cloud"></i> Available Brands</button>
                    </a>
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Created date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each brandDeletedList}}
                                <tr>
                                    <td><img class="img-user-table" src="{{this.image}}" alt="{{this.name}}"></td>
                                    <td>{{this.name}}</td>
                                    <td>{{this.desc}}</td>
                                    <td>{{moment this.createdAt format = "DD/MM/yyyy"}}</td>
                                    <td>
                                        <a href="" data-toggle="modal" data-target="#restore-brand" data-id="{{this._id}}">
                                            <button class="btn btn-info">Restore</button>
                                        </a>
                                        <a href="" data-toggle="modal" data-target="#force-delete-brand" data-id="{{this._id}}">
                                            <button class="btn btn-danger">Permantly Delete</button>
                                        </a>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

    {{!-- Form hidden --}}
    <form name="permantly-delete-brand-form" method="post"></form>
    <form name="restore-brand-form" method="post"></form>

    {{!-- Confirm delete code --}}
    <div class="modal fade" id="force-delete-brand" tabindex="-1" role="dialog" aria-labelledby="delete-categoryLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-header-confirm-delete">
                <div class="modal-header">
                    <h5 class="modal-title" id="delete-categoryLabel"><b>Permantly Delete brand</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">Are you sure to <strong>Permantly</strong> delete this brand?</div>
                
                <div class="modal-footer">
                    <button id="btn-force-delete-brand" type="button" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

       {{!-- Confirm restore code --}}
    <div class="modal fade" id="restore-brand" tabindex="-1" role="dialog" aria-labelledby="restore-categoryLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-header-confirm-restore">
                <div class="modal-header">
                    <h5 class="modal-title" id="restore-categoryLabel"><b>Restore brand</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">Are you sure to <strong>Restore</strong>  this brand?</div>
                
                <div class="modal-footer">
                    <button id="btn-restore-brand" type="button" class="btn btn-danger">Restore</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>


    