<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">{{title}} Tables</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item active">Tables</li>
            </ol>
            <div class="card mb-2">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Product Database
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Category</th>
                                    <th>Buff</th>
                                    <th>Stock</th>
                                    <th>Is Available</th>
                                    <th>Is BestSeller</th>
                                    <th>Created date</th>
                                    <th>Action
                                        <a href="/product/create">
                                            <button class="btn btn-success">Create</button>
                                        </a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each productList}}
                                <tr>
                                    <td><img class="img-user-table" src="{{this.avatar}}" alt="{{this.name}}"></td>
                                    <td>{{this.name}}</td>
                                    <td>{{this.description}}</td>
                                    <td>{{this.category}}</td>
                                    <td>{{this.buff}} buffs</td>
                                    <td>{{this.stock}} pcs</td>
                                    <td>{{this.available}}</td>
                                    <td>{{this.bestseller}}</td>
                                    <td>{{moment this.createdAt format = "HH:mm - DD/MM/yyyy"}}</td>
                                    <td>
                                        <a href="/product/{{this._id}}/edit">
                                            <button class="btn btn-dark">Edit</button>
                                        </a>
                                        <a href="/product/{{this.slug}}">
                                            <button class="btn btn-info">Detail</button>
                                        </a>
                                        <a href="" data-toggle="modal" data-target="#delete-product" data-id="{{this._id}}">
                                            <button class="btn btn-danger">Delete</button>
                                        </a>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

    {{!-- Delete form hidden --}}
    <form name="delete-product-form" method="post"></form>

        {{!-- Confirm delete code --}}
        <div class="modal fade" id="delete-product" tabindex="-1" role="dialog" aria-labelledby="delete-categoryLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content modal-header-confirm-delete">
                    <div class="modal-header">
                        <h5 class="modal-title" id="delete-categoryLabel"><b>Delete Product</b></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">Are you sure to delete this product?</div>
                    
                    <div class="modal-footer">
                        <button id="btn-delete-product" type="button" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>