<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">{{title}} Tables</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item active">Tables</li>
            </ol>
            <div class="card mb-2">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    User Database
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Avatar</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Gender</th>
                                    <th>Birthday</th>
                                    <th>Created Time</th>
                                    <th>Address</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each userList}}
                                <tr>
                                    <td><img class="img-user-table" src="{{this.avatar}}" alt="{{this.name}}"></td>
                                    <td>{{this.phone}}</td>
                                    <td>{{this.email}}</td>
                                    <td>{{this.role}}</td>
                                    <td>{{this.gender}}</td>
                                    <td>{{moment this.birthday format = "DD/MM/yyyy"}}</td>
                                    <td>{{moment this.createdAt format = "HH:mm - DD/MM/yyyy"}}</td>
                                    <td>{{this.address}}</td>
                                    <td>
                                        <a href="#">
                                            <button class="btn btn-success">Edit</button>
                                        </a>
                                        <a href="#">
                                            <button class="mt-1 btn btn-info">Detail</button>
                                        </a>
                                        <a href="#">
                                            <button class="mt-1 btn btn-danger">Delete</button>
                                        </a>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>