
<div class="sub-header">
    <div class="arrow animated bounce"></div>
    <nav class="sub-nav">
        <ul id="sub-nav-left">

            {{#if user}}
                <li>
                  <a href="/cart">
                    <i class="fa fa-shopping-cart"></i>
                    {{#if session.cart.totalQty}}
                      <span class="badge badge-danger badge-counter">{{session.cart.totalQty}}</span>
                    {{else}}
                      <span class="badge badge-danger badge-counter">0</span>
                    {{/if}}
                  </a>
                </li>
                <li>
                    <a class="active" href="#"><b>{{user.name}}</b></a>
                    <div class="subnav-dropdown">
                      <br>
                      <a class="subnav-dropdown-items" href="#"><i class="fa fa-address-card"></i>My Account</a>
                      <hr>
                      <span>
                        <i class="fa fa-money-check"></i>10.000 VND
                        <i class="fas fa-plus-circle"></i>
                      </span>
                      <hr>
                      <a class="subnav-dropdown-items" href="#"><i class="fa fa-shopping-cart"></i>My purchase</a>
                      <hr>
                      {{#ifeq user.role 'Admin'}}
                        <a class="subnav-dropdown-items" href="/admin"><i class="fa fa-tasks"></i>Management</a>
                        <hr>
                      {{/ifeq}}
                      <a class="subnav-dropdown-items" onclick="logout()"><i class='fas fa-sign-out-alt'></i>Log out</a>
                      <br><br>
                    </div>
                </li>
            {{else}}
                <li>
                  <a href="/cart">
                    <i class="fa fa-shopping-cart"></i>
                    {{#if session.cart.totalQty}}
                      <span class="badge badge-danger badge-counter">{{session.cart.totalQty}}</span>
                    {{else}}
                      <span class="badge badge-danger badge-counter">0</span>
                    {{/if}}
                  </a>
                </li>
                <li>
                    <a class="active" href="/login">Login</a>
                </li>
                <li>
                    <a href="/register">Register</a>
                </li>
            {{/if}}

        </ul>
    </nav>
</div>


<header class="main-header" id="main-header">   
  <div class="row">
    <div class="col-lg-11 col-md-9 col-sm-6 col-9">
      <a href="/" class="logo-icon-header">
        <div id="logo-header">Dus<span>Tin</span></div>
      </a>
    </div>

    <div class="col-lg-1 col-md-3 col-sm-6 col-3">
      <a class="icon logo-icon-header icon-responsive">
      <i id="icon-nav-responsive" class="fa fa-bars"></i>
    </a>
    </div>
  </div>
  
  <nav class="navbar-dropdown-items" id="navbar-dropdown-items">
    <ul>
      {{!-- more than 4 is not beautiful --}}
      {{!-- <a href="/product"><li>Products</li></a>
      <a href="/product/manage"><li>Manage</li></a>
      <a href="/admin"><li>Admin</li></a> --}}
      <a href="/shoe"><li>Shoes</li></a>
      <a href="/cart"><li>Cart</li>
      </a>
      <a href="javascript:;" class="btn-info-scroll"><li>About Store</li></a>
    </ul>
  </nav>
</header>


