<div class="wrapper cart-container">
    <section class="h-100 h-custom">
        <div class="h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                        <div class="card-body p-0">
                            <div class="row g-0">
                            <div class="col-lg-8">
                                <div class="p-5">
                                <div class="d-flex justify-content-between align-items-center mb-5">
                                    <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                                    {{#ifeq session.cart.totalQty 0}}
                                        <h6 class="mb-0 text-muted">0 items</h6>
                                    {{else}}
                                        <h6 class="total-items mb-0 text-muted">{{session.cart.totalQty}} items 
                                            <a onclick="removeAllCart()" class="element-a-href">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </h6>
                                    {{/ifeq}}
                                </div>
                                <hr class="my-4">
                                {{#if shoe}}
                                    {{#each shoe}}
                                        <div class="cart-items row mb-4 d-flex justify-content-between align-items-center">
                                            <div class="col-md-2 col-lg-2 col-xl-2">
                                            <img
                                                src="./uploads/{{this.item.image}}"
                                                class="img-fluid rounded-3" alt="Cotton T-shirt">
                                            </div>
                                            <div class="col-md-3 col-lg-3 col-xl-3">
                                                {{!-- <h6 class="text-muted">{{this.item.brand}}</h6> --}}
                                                {{#with size}}
                                                <h6 class="text-muted mb-0">Size: {{this}}</h6>
                                                {{/with}}
                                                <h6 class="text-black mb-0">{{this.item.name}}</h6>
                                            </div>
                                            <div class="choose-quantity col-md-3 col-lg-3 col-xl-2">
                                                <div class="d-flex justify-content-center" class="size-container">
                                                    <div class="size-choose-container">
                                                        <div class="size-options-items">
                                                            {{#each this.size}}
                                                                <input type="radio" class="checked" id="{{this}}" name="size" value="{{this}}">
                                                                <label for="{{this}}" class="radio-checked">{{this}}</label>
                                                            {{/each}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="d-flex">
                                                {{!-- <a href="/shoe/reduce-cart/{{this.item._id}}"> --}}
                                                    <button 
                                                        type="button" 
                                                        class="btn btn-link px-2" 
                                                        onclick="descItemCart(this, 
                                                                                '{{this.item._id}}',
                                                                                '{{#with size}}{{this}}{{/with}}')">
                                                            <i class="fas fa-minus"></i>
                                                    </button>
                                                {{!-- </a> --}}
                                                    <input min="0" value="{{this.qty}}" type="text" disabled class="form-control form-control-sm">
                                                {{!-- <a href="/shoe/{{this.item._id}}"> --}}
                                                    <button 
                                                        type="button" 
                                                        class="btn btn-link px-2" 
                                                        onclick="addItemCart(this, 
                                                                                '{{this.item._id}}',
                                                                                '{{#with size}}{{this}}{{/with}}')">
                                                        <i class="fas fa-plus"></i>
                                                    </button>
                                                {{!-- </a> --}}
                                                </div>
                                            </div>
                                            <div class="price-of-shoe col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                                <h6 class="mb-0">{{formatCurrency this.price}} VND</h6>
                                            </div>
                                            <div class="cancle-order col-md-1 col-lg-1 col-xl-1 text-end">
                                                <i onclick="removeItemCart(this, '{{this.item._id}}','{{#with size}}{{this}}{{/with}}', '{{this.price}}', '{{this.qty}}')" class="fas fa-times"></i>
                                            </div>
                                            <hr class="my-4">
                                        </div>

                                        
                                    {{/each}}
                                {{else}}
                                <h3>There is no shoe in your cart</h3>
                                <a class="element-a-href" href="/shoe">Add one?</a>
                                {{/if}}
                                <div class="noti-no-shoe d-none">
                                    <h3>There is no shoe in your cart</h3>
                                    <a class="element-a-href" href="/shoe">Add one?</a>
                                </div>

                                <div class="pt-5">
                                    <h6 class="mb-0"><a href="/shoe" class="text-body"><i
                                        class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                                </div>
                                </div>
                            </div>
                                <div class="col-lg-4 bg-grey">
                                    <div class="p-5">
                                        <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                                        <hr class="my-4">

                                        <div class="d-flex justify-content-between mb-4">
                                            {{#if session.cart}}
                                            <h5 class="total-items text-uppercase">items:   {{session.cart.totalQty}}</h5>
                                            <h5 class="shoe-total-price">{{formatCurrency session.cart.totalPrice}} VND</h5>
                                            {{/if}}
                                        </div>

                                        <h5 class="text-uppercase mb-3">Delivery & Payment</h5>
                                        

                                        <div class="mb-2 pb-2">
                                            <select class="form-control" id="shipping-method-select" required>
                                                {{!-- <option value="" selected="true" disabled="disabled">Choose delivery</option> --}}
                                                <option value="24h">In 24h - 34.000 VND (HCM City)</option>
                                                <option value="asap">ASAP - 30.000 VND to 70.000 VND (HCM City)</option>
                                                <option value="3days">In 3 days - 30.000 VND (not HCM City)</option>
                                            </select>
                                        </div>

                                        <div class="mb-2 pb-2">
                                            <select class="form-control" name="payment" id="payment-method-select" required>
                                                {{!-- <option value="" selected="true" disabled="disabled">Choose payment method</option> --}}
                                                <option value="wallet">DusTin Wallet {{#if user.money}}({{formatCurrency user.money}} VND){{/if}} </option>
                                                <option value="momo">Momo</option>
                                                <option value="paypal">Paypal</option>
                                                <option value="card">Credit Card</option>
                                            </select>
                                        </div>
                                        
                                    <form action="/checkout-by-card" method="post" id="payment-form" style="display:none">
                                        {{!-- Create token for payment information--}}
                                        <div class="form-group mb-4" id="card-information">
                                            <div id="card-element" class="form-control">
                                            </div>
                                            <div id="card-errors" role="alert"></div>
                                        </div>
                                        
                                        <h5 class="text-uppercase mb-3">Information</h5>

                                        <div class="mb-2">
                                            <div class="form-outline">
                                            <input type="text" placeholder="Enter phone number" class="form-control" name="phone" value="{{user.phone}}" required
                                            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"/>
                                            </div>
                                        </div>

                                        <div class="mb-2">
                                            <div class="form-outline">
                                            <input type="text" placeholder="Enter address" name="address" class="form-control" value="{{user.address}}" required/>
                                            </div>
                                        </div>

                                        <div class="mb-2">
                                            <div class="form-outline">
                                            <input type="email" placeholder="Enter email" name="email" class="form-control" value="{{user.email}}" required/>
                                            </div>
                                        </div>

                                        <div class="mb-2">
                                            <div class="form-outline">
                                            <input type="text" placeholder="Enter name" name="name" class="form-control" value="{{user.name}}" required/>
                                            </div>
                                        </div>

                                        <input id="money-input" type="hidden" name="money" value="{{session.cart.totalPrice}}">
                                        <input type="hidden" name="shipping" value="">
                                        <input type="hidden" name="userId" value="{{user._id}}">
                                        <input type="hidden" name="quantity" value="{{session.cart.totalQty}}">

                                        <hr class="my-4">

                                        {{#if session.cart}}
                                            <div class="d-flex justify-content-between mb-2">
                                                <h5 class="text-uppercase">Total price</h5>
                                                <h5 class="shoe-total-price">{{formatCurrency session.cart.totalPrice}} VND</h5>
                                            </div>
                                        {{/if}}

                                        {{#if successMsg}}
                                            <h6 class="text-success"><i class="fa fa-check"></i>  {{successMsg}}</h6>
                                        {{/if}}
                                        {{#if failedMsg}}
                                            <h6 class="text-danger"><i class="fa fa-times"></i>  {{failedMsg}}</h6>
                                        {{/if}}
                                        
                                        {{#ifeq session.cart.totalQty 0}}
                                        <button type="button" id="payment-form-btn" class="btn btn-dark btn-block btn-lg form-control"
                                            data-mdb-ripple-color="dark" disabled>No item to check out</button>
                                        {{else}}
                                        <button type="submit" id="payment-form-btn" class="btn btn-outline-dark btn-block btn-lg form-control"
                                            data-mdb-ripple-color="dark">Check Out</button>
                                        {{/ifeq}}
                                    </form>


                                    <form action="/checkout-by-wallet" method="post" id="online-payment-form">
                                        
                                        <h5 class="text-uppercase mb-3">Information</h5>

                                        <div class="mb-2">
                                            <div class="form-outline">
                                            <input type="text" placeholder="Enter phone number" class="form-control" name="phone" value="{{user.phone}}" required
                                            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"/>
                                            </div>
                                        </div>

                                        <div class="mb-2">
                                            <div class="form-outline">
                                            <input type="text" placeholder="Enter address" name="address" class="form-control" value="{{user.address}}" required/>
                                            </div>
                                        </div>

                                        <div class="mb-2">
                                            <div class="form-outline">
                                            <input type="email" placeholder="Enter email" name="email" class="form-control" value="{{user.email}}" required/>
                                            </div>
                                        </div>

                                        <div class="mb-2">
                                            <div class="form-outline">
                                            <input type="text" placeholder="Enter name" name="name" class="form-control" value="{{user.name}}" required/>
                                            </div>
                                        </div>
                                        
                                        <input id="money-input" type="hidden" name="money" value="{{session.cart.totalPrice}}">
                                        <input type="hidden" name="shipping" value="">
                                        <input type="hidden" name="userId" value="{{user._id}}">
                                        <input type="hidden" name="quantity" value="{{session.cart.totalQty}}">

                                        <hr class="my-4">

                                        {{#ifeq session.cart.totalQty 0}}
                                            <div class="d-flex justify-content-between mb-2">
                                                <h5 class="text-uppercase">Total price</h5>
                                                <h5 class="shoe-total-price">{{formatCurrency session.cart.totalPrice}} VND</h5>
                                            </div>
                                        {{/ifeq}}

                                        {{#if successMsg}}
                                            <h6 class="text-success"><i class="fa fa-check"></i>  {{successMsg}}</h6>
                                        {{/if}}
                                        {{#if failedMsg}}
                                            <h6 class="text-danger"><i class="fa fa-times"></i>  {{failedMsg}}</h6>
                                        {{/if}}
                                        
                                        {{#ifeq session.cart.totalQty 0}}
                                        <button type="button" id="payment-form-btn" class="btn btn-dark btn-block btn-lg form-control"
                                            data-mdb-ripple-color="dark" disabled>No item to check out</button>
                                        {{else}}
                                        <button type="submit" id="payment-form-btn" class="btn btn-outline-dark btn-block btn-lg form-control"
                                            data-mdb-ripple-color="dark">Check Out</button>
                                        {{/ifeq}}
                                    </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            </div>
        </div>
    </section>
</div>