
<div class="wrapper">
<div class="wrap">
  
  <div class="arrow animated bounce"></div>

  <section class="transparent">
    <div class="headline"></div>
    <div class="text"></div>
    <div class="text"></div>
    <div class="button"></div>
  </section> 
  
  <section class="cards">
    {{#each shoe}}
      <div class="card">
        <h3 id="logo-product-detail">Best<span>Seller</span></h3>
        <img src="../uploads/{{this.image}}" alt="{{this.name}}">
        <div class="content">
          <span class="badge-text">{{this.brand.name}}</span>
          <div class="badge-headline">{{this.name}}</div>
          <span class="badge-text">{{this.type.name}}</span>
          <div class="badge-price mb-4">{{this.price}} VND</div>
        </div>
      </div>
    {{/each}}
  </section>
  
  <section class="contentbox">
    <div class="headline"></div>
    <div class="text"></div>
    <div class="text"></div>
    <div class="text"></div>
    <div class="button"></div>
  </section>
  
</div>
</div>
  

