
<div class="container-fluid content-row">   
    <div class="row card-product-list">
        
    <h1 class="text-center text-white">Tất cả sản phẩm</h1>
        {{#each product}}
        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 d-flex align-items-stretch column-card-product-item">
            <a id="href-product-detail" href="/product/{{this.slug}}">
            <div class="card text-black h-100 card-product-item">
            
            <h3 id="logo-product-detail">Bard<span>Pod</span></h3>
            <img id="image-product-detail" src="{{this.image}}"
                class="card-img-top" alt="Pod image" />
                
                <hr>
                <div class="card-body">
                    <div class="text-center">
                        <h5 class="card-title">{{this.name}}</h5>
                        <p class="text-muted mb-4">Vị {{this.description}}</p>
                    </div>
                    {{!-- <div>
                        <div class="d-flex justify-content-between">
                        <span>Hãng</span><span>{{this.category}}</span>
                        </div>
                        <div class="d-flex justify-content-between">
                        <span>Số hơi</span><span>{{this.buff}} lần</span>
                        </div>
                        <div class="d-flex justify-content-between">
                        <span>Số lượng</span><span>{{this.stock}} cái</span>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between total font-weight-bold mt-4">
                    <span>Giá</span><span>{{this.price}} VND</span>
                    </div> --}}
            </div>
            </div>
            </a>
            
        </div>
        {{/each}}
    </div>
</div>