<div class="wrapper shoe-index">
    <section>
        <div class="row">
            <div class="col-3 left-list">
                <h2>Categories</h2>
                <ul class="list-group">
                    {{#each shoeType}}
                        <li class="list-group-item"><a href="/shoe/finding?type={{this._id}}">{{this.name}}</a></li>
                    {{/each}}
                </ul>



                <h2 class="mt-5">Brands</h2>
                <ul class="list-group">
                    {{#each brandList}}
                        <li class="list-group-item"><a href="/shoe/finding?brand={{this._id}}">{{this.name}}</a></li>
                    {{/each}}
                </ul>



                <div class="row mt-5">
                    <div class="col-3">
                        <h2 class="">Filter:</h2>
                    </div>
                    <div class="col-9">
                        <div class="filter-color">
                            <h2 class="filter-shoe-btn"><i class="fa fa-minus">  color</i></h2>
                            <ul class="filter-group">
                                <li class="list-group-item"><a href="/shoe/finding?color=White">White</a></li>
                                <li class="list-group-item"><a href="/shoe/finding?color=Black">Black</a></li>
                                <li class="list-group-item"><a href="/shoe/finding?color=Red">Red</a></li>
                                <li class="list-group-item"><a href="/shoe/finding?color=Green">Green</a></li>
                                <li class="list-group-item"><a href="/shoe/finding?color=Blue">Blue</a></li>
                                <li class="list-group-item"><a href="/shoe/finding?color=Yellow">Yellow</a></li>
                                <li class="list-group-item"><a href="/shoe/finding?color=Orange">Orange</a></li>
                                <li class="list-group-item"><a href="/shoe/finding?color=Grey">Grey</a></li>
                                <li class="list-group-item"><a href="/shoe/finding?color=Purple">Purple</a></li>
                        </div>
                        <div class="filter-size">
                            <h2 class="mt-4 filter-shoe-btn"><i class="fa fa-minus">  size</i></h2>
                            <ul class="filter-group">
                                <li class="list-group-item"><a href="/shoe/finding?size1=34&size2=35">34-35</a></li>
                                {{!-- <li class="list-group-item">35</li> --}}
                                <li class="list-group-item"><a href="/shoe/finding?size1=36&size2=37">36-37</a></li>
                                {{!-- <li class="list-group-item">37</li> --}}
                                <li class="list-group-item"><a href="/shoe/finding?size1=38&size2=39">38-39</a></li>
                                {{!-- <li class="list-group-item">39</li> --}}
                                <li class="list-group-item"><a href="/shoe/finding?size1=40&size2=41">40-41</a></li>
                                {{!-- <li class="list-group-item">41</li> --}}
                                <li class="list-group-item"><a href="/shoe/finding?size1=42&size2=43">42-43</a></li>
                                {{!-- <li class="list-group-item">43</li> --}}
                                <li class="list-group-item"><a href="/shoe/finding?size1=44&size2=45">34-45</a></li>
                                {{!-- <li class="list-group-item">45</li> --}}
                                <li class="list-group-item"><a href="/shoe/finding?size1=46">46</a></li>
                            </ul>
                        </div>
                    </div>
                </div>



                <div class="row mt-5">
                    <div class="col-3 pt-2">
                        <h2>Sort: </h2>
                    </div>

                    <div class="col-9">
                        <ul class="list-group">
                            <li class="list-group-item"><a href="/shoe/newarrival">New Arrivals</a></li>
                            <li class="list-group-item"><a href="/shoe/cheapshoe">Cheaper</a></li>
                            <li class="list-group-item"><a href="/shoe/expensiveshoe">Expensive</a></li>
                            <li class="list-group-item"><a href="/shoe/bestseller">Bestseller</a></li>
                            <li class="list-group-item"><a href="/shoe/available">Available</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            {{!-- Responsive of left list filter for table, mobile --}}
            <div class="col-12 responsive-left-list">
                <ul>
                    <li select-item="responsive-sort-items"><i class="fa fa-plus"></i>  sort</li>
                
                    <li select-item="responsive-filter-items"><i class="fa fa-plus"></i>  Filters</li>
                </ul>

                <div class="responsive-items" id="responsive-filter-items">
                    <div class="filter-color">
                        <h2 class="filter-shoe-btn"><i class="fa fa-minus">  color</i></h2>
                        <ul class="filter-group">
                                <li class="list-group-item"><a href="/shoe/finding?color=White">White</a></li>
                                <li class="list-group-item"><a href="/shoe/finding?color=Black">Black</a></li>
                                <li class="list-group-item"><a href="/shoe/finding?color=Red">Red</a></li>
                                <li class="list-group-item"><a href="/shoe/finding?color=Green">Green</a></li>
                                <li class="list-group-item"><a href="/shoe/finding?color=Blue">Blue</a></li>
                                <li class="list-group-item"><a href="/shoe/finding?color=Yellow">Yellow</a></li>
                                <li class="list-group-item"><a href="/shoe/finding?color=Orange">Orange</a></li>
                                <li class="list-group-item"><a href="/shoe/finding?color=Grey">Grey</a></li>
                                <li class="list-group-item"><a href="/shoe/finding?color=Purple">Purple</a></li>
                        </ul>
                    </div>
                    <hr>
                    <div class="filter-size">
                        <h2 class="mt-4 filter-shoe-btn"><i class="fa fa-minus">  size</i></h2>
                        <ul class="filter-group">
                                <li class="list-group-item"><a href="/shoe/finding?size1=34&size2=35">34-35</a></li>
                                {{!-- <li class="list-group-item">35</li> --}}
                                <li class="list-group-item"><a href="/shoe/finding?size1=36&size2=37">36-37</a></li>
                                {{!-- <li class="list-group-item">37</li> --}}
                                <li class="list-group-item"><a href="/shoe/finding?size1=38&size2=39">38-39</a></li>
                                {{!-- <li class="list-group-item">39</li> --}}
                                <li class="list-group-item"><a href="/shoe/finding?size1=40&size2=41">40-41</a></li>
                                {{!-- <li class="list-group-item">41</li> --}}
                                <li class="list-group-item"><a href="/shoe/finding?size1=42&size2=43">42-43</a></li>
                                {{!-- <li class="list-group-item">43</li> --}}
                                <li class="list-group-item"><a href="/shoe/finding?size1=44&size2=45">34-45</a></li>
                                {{!-- <li class="list-group-item">45</li> --}}
                                <li class="list-group-item"><a href="/shoe/finding?size1=46">46</a></li>
                        </ul>
                    </div>
                    <button class="form-control btn btn-outline-dark mb-4">APPLY</button>
                </div>

                <div class="responsive-items" id="responsive-sort-items">
                    <ul class="list-group">
                            <li class="list-group-item"><a href="/shoe/newarrival">New Arrivals</a></li>
                            <li class="list-group-item"><a href="/shoe/cheapshoe">Cheaper</a></li>
                            <li class="list-group-item"><a href="/shoe/expensiveshoe">Expensive</a></li>
                            <li class="list-group-item"><a href="/shoe/bestseller">Bestseller</a></li>
                            <li class="list-group-item"><a href="/shoe/available">Available</a></li>
                    </ul>
                    <button class="form-control btn btn-outline-dark mb-4">APPLY</button>
                </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-9 row shoe-list">
                {{#if shoe}}
                    {{#each shoe}}
                        <div class="col-6">
                            <div class="img-container">
                                <a href="/shoe/{{this._id}}?shoeDetailTitle=Best%20Seller&brandid={{this.brand._id}}">
                                    <img src="../uploads/{{this.image}}" alt="{{this.name}}">
                                    <div class="overlay overlay-shoe-list"><i class="fa fa-plus"></i> See detail</div>
                                </a>
                            </div>
                            <div class="shoe-list-detail row">
                                <a href="/shoe/{{this._id}}?shoeDetailTitle=Best%20Seller&brandid={{this.brand._id}}">
                                    <h1>{{this.name}}</h1>
                                </a>
                                <h2>{{formatCurrency this.price}} VND</h2>

                                {{#ifeq this.available false}}
                                    <h3>Out of stock</h3>
                                {{else}}
                                    {{#ifeq this.bestseller true}}
                                        <h3>Best seller</h3>
                                    {{/ifeq}}
                                {{/ifeq}}
                            </div>
                        </div>
                    {{/each}}
                {{else}}
                    <h1>There is no shoe available</h1>
                {{/if}}
            </div>
        </div>
    </section>
</div>