<div class="wrapper shoe-index">
    <section>
        <div class="row">
            <div class="col-3 left-list">
                <h2>Categories</h2>
                <ul class="list-group">
                    {{#each shoeType}}
                        <a href="/shoe/finding?type={{this._id}}"><li class="list-group-item">{{this.name}}</li></a>
                    {{/each}}
                </ul>



                <h2 class="mt-5">Brands</h2>
                <ul class="list-group">
                    {{#each brandList}}
                        <a href="/shoe/finding?brand={{this._id}}"><li class="list-group-item">{{this.name}}</li></a>
                    {{/each}}
                </ul>



                <div class="row mt-5">
                    <div class="col-3">
                        <h2 class="">Filter:</h2>
                    </div>
                    <div class="col-9">
                        <div class="filter-color">
                            <h2 class="filter-shoe-btn"><i class="fa fa-minus">  color</i></h2>
                            <ul class="filter-group">
                                <a href="/shoe/finding?color=White"><li class="list-group-item">White</li></a>
                                <a href="/shoe/finding?color=Black"><li class="list-group-item">Black</li></a>
                                <a href="/shoe/finding?color=Red"><li class="list-group-item">Red</li></a>
                                <a href="/shoe/finding?color=Yellow"><li class="list-group-item">Yellow</li></a>
                                <a href="/shoe/finding?color=Orange"><li class="list-group-item">Orange</li></a>
                                <a href="/shoe/finding?color=Grey"><li class="list-group-item">Grey</li></a>
                                <a href="/shoe/finding?color=Purple"><li class="list-group-item">Purple</li></a>
                                <a href="/shoe/finding?color=Green"><li class="list-group-item">Green</li></a>
                                <a href="/shoe/finding?color=Blue"><li class="list-group-item">Blue</li></a>
                        </div>
                        <div class="filter-size">
                            <h2 class="mt-4 filter-shoe-btn"><i class="fa fa-minus">  size</i></h2>
                            <ul class="filter-group">
                                <a href="/shoe/finding?size1=34&size2=35"><li class="list-group-item">34-35</li></a>
                                <a href="/shoe/finding?size1=36&size2=37"><li class="list-group-item">36-37</li></a>
                                <a href="/shoe/finding?size1=38&size2=39"><li class="list-group-item">38-39</li></a>
                                <a href="/shoe/finding?size1=40&size2=41"><li class="list-group-item">40-41</li></a>
                                <a href="/shoe/finding?size1=42&size2=43"><li class="list-group-item">42-43</li></a>
                                <a href="/shoe/finding?size1=44&size2=45"><li class="list-group-item">34-45</li></a>
                                <a href="/shoe/finding?size1=46"><li class="list-group-item">46</li></a>
                            </ul>
                        </div>
                    </div>
                </div>



                <div class="row mt-5">
                    <div class="col-3 pt-2">
                        <h2>Sort: </h2>
                    </div>

                    <div class="col-9">
                        <ul class="list-group">
                            <a href="/shoe/newarrival"><li class="list-group-item">New Arrivals</li></a>
                            <a href="/shoe/cheapshoe"><li class="list-group-item">Cheaper</li></a>
                            <a href="/shoe/expensiveshoe"><li class="list-group-item">Expensive</li></a>
                            <a href="/shoe/bestseller"><li class="list-group-item">Bestseller</li></a>
                            <a href="/shoe/available"><li class="list-group-item">Available</li></a>
                        </ul>
                    </div>
                </div>
            </div>

            {{!-- Responsive of left list filter for table, mobile --}}
            <div class="col-12 responsive-left-list">
                <ul>
                    <li select-item="responsive-finding-items" style="float:left"><i class="fa fa-search"></i></li>

                    <li select-item="responsive-sort-items"><i class="fa fa-plus"></i>  sort</li>
                
                    <li select-item="responsive-filter-items"><i class="fa fa-plus"></i>  Filters</li>
                </ul>


                <div class="responsive-items" id="responsive-finding-items">
                    <div class="search-items">
                        <div class="category-finding-items">
                            <h2 class="category-shoe-btn"><i class="fa fa-plus">  category</i></h2>
                            <ul>
                            {{#each shoeType}}
                                <a href="/shoe/finding?type={{this._id}}"><li class="list-group-item">{{this.name}}</li></a>
                            {{/each}}
                            </ul>
                        </div>
                        <hr>
                        <div class="brand-finding-items">
                            <h2 class="brand-shoe-btn"><i class="fa fa-plus">  brands</i></h2>
                            <ul>
                            {{#each brandList}}
                                <a href="/shoe/finding?brand={{this._id}}"><li class="list-group-item">{{this.name}}</li></a>
                            {{/each}}
                            </ul>
                        </div>
                        <hr>
                    </div>
                </div>

                <div class="responsive-items" id="responsive-filter-items">
                    <div class="filter-color">
                        <h2 class="filter-shoe-btn"><i class="fa fa-plus">  color</i></h2>
                        <ul class="filter-group">
                                <a href="/shoe/finding?color=White"><li class="list-group-item">White</li></a>
                                <a href="/shoe/finding?color=Black"><li class="list-group-item">Black</li></a>
                                <a href="/shoe/finding?color=Red"><li class="list-group-item">Red</li></a>
                                <a href="/shoe/finding?color=Yellow"><li class="list-group-item">Yellow</li></a>
                                <a href="/shoe/finding?color=Orange"><li class="list-group-item">Orange</li></a>
                                <a href="/shoe/finding?color=Grey"><li class="list-group-item">Grey</li></a>
                                <a href="/shoe/finding?color=Purple"><li class="list-group-item">Purple</li></a>
                                <a href="/shoe/finding?color=Green"><li class="list-group-item">Green</li></a>
                                <a href="/shoe/finding?color=Blue"><li class="list-group-item">Blue</li></a>
                        </ul>
                    </div>
                    <hr>
                    <div class="filter-size">
                        <h2 class="mt-4 filter-shoe-btn"><i class="fa fa-plus">  size</i></h2>
                        <ul class="filter-group">
                                <a href="/shoe/finding?size1=34&size2=35"><li class="list-group-item">34-35</li></a>
                                <a href="/shoe/finding?size1=36&size2=37"><li class="list-group-item">36-37</li></a>
                                <a href="/shoe/finding?size1=38&size2=39"><li class="list-group-item">38-39</li></a>
                                <a href="/shoe/finding?size1=40&size2=41"><li class="list-group-item">40-41</li></a>
                                <a href="/shoe/finding?size1=42&size2=43"><li class="list-group-item">42-43</li></a>
                                <a href="/shoe/finding?size1=44&size2=45"><li class="list-group-item">34-45</li></a>
                                <a href="/shoe/finding?size1=46"><li class="list-group-item">46</li></a>
                        </ul>
                    </div>
                    <hr>
                    {{!-- <button class="form-control btn btn-outline-dark mb-4">APPLY</button> --}}
                </div>

                <div class="responsive-items" id="responsive-sort-items">
                    <h2 class="mt-4 sort-shoe-btn"><i class="fa fa-plus">  sort</i></h2>
                    <ul class="list-group">
                            <a href="/shoe/newarrival"><li class="list-group-item">New Arrivals</li></a>
                            <a href="/shoe/cheapshoe"><li class="list-group-item">Cheaper</li></a>
                            <a href="/shoe/expensiveshoe"><li class="list-group-item">Expensive</li></a>
                            <a href="/shoe/bestseller"><li class="list-group-item">Bestseller</li></a>
                            <a href="/shoe/available"><li class="list-group-item">Available</li></a>
                    </ul>
                    {{!-- <button class="form-control btn btn-outline-dark mb-4">APPLY</button> --}}
                </div>
                <hr>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-9 row shoe-list">
                {{#if shoe}}
                    {{#each shoe}}
                        <div class="col-6">
                            <div class="img-container">
                                <a href="/shoe/{{this._id}}?shoeDetailTitle=Best%20Seller&brandid={{this.brand._id}}">
                                    <img src="../uploads/{{this.image}}" alt="{{this.name}}">
                                    <div class="overlay overlay-shoe-list"><i class="fa fa-plus"></i> See detail</div>
                                </a>
                            </div>
                            <div class="shoe-list-detail row">
                                <a href="/shoe/{{this._id}}?shoeDetailTitle=Best%20Seller&brandid={{this.brand._id}}">
                                    <h1>{{this.name}}</h1>
                                </a>
                                <h2>{{formatCurrency this.price}} VND</h2>

                                {{#ifeq this.available false}}
                                    <h3>Out of stock</h3>
                                {{else}}
                                    {{#ifeq this.bestseller true}}
                                        <h3>Best seller</h3>
                                    {{/ifeq}}
                                {{/ifeq}}
                            </div>
                        </div>
                    {{/each}}
                {{else}}
                    <h1>There is no shoe available</h1>
                {{/if}}
            </div>
        </div>
    </section>
</div>