
<div class="col-lg-9">
    <div class="p-5">
        <h3 class="fw-bold">My Profile</h3>
        <h6 class="mb-4 mt-2 pt-1">Manage and protect your account</h6>
        {{#if msg}}
            <h6 class="text-success"><i class="fa fa-check"></i> {{msg}}</h6>
        {{/if}}
        {{#if failMsg}}
            <h6 class="text-danger"><i class="fa fa-times"></i> {{failMsg}}</h6>
        {{/if}}
        <hr class="my-4">

{{!-- <div class="d-flex justify-content-between mb-4">
{{#if session.cart}}
<h5 class="text-uppercase">items:   {{session.cart.totalQty}}</h5>
<h5>{{formatCurrency session.cart.totalPrice}} VND</h5>
{{/if}}
</div> --}}


{{!-- <div class="mb-4 pb-2">
<select class="form-control" name="shipping" required>
    <option value="">Choose shipping</option>
    <option value="24h">In 24h - 34.000 VND (HCM City)</option>
    <option value="asap">ASAP - 30.000 VND to 70.000 VND (HCM City)</option>
    <option value="3days">In 3 days - 30.000 VND (not HCM City)</option>
</select>
</div> --}}

{{!-- <h5 class="text-uppercase mb-3">Information</h5> --}}

{{!-- Create token for payment information--}}
{{!-- <div class="form-control mb-2">
<label for="card-element" hidden>
Credit or debit card
</label>
<div id="card-element">
<!-- A Stripe Element will be inserted here. -->
</div>

<!-- Used to display Element errors. -->
<div id="card-errors" role="alert"></div>
</div> --}}

        <form action="/user/{{user._id}}?_method=PUT" method="post">
            <div class="row my-profile-form">
                <div class="col-7">
                        <div class="form-group row mb-4">
                            <label for="name" class="col-sm-3 col-form-label">Name</label>
                            <div class="col-sm-9">
                            <input type="text" class="form-control" id="name" name="name" value="{{user.name}}">
                            </div>
                        </div>
                        <div class="form-group row mb-4"{{#if user.email}}{{else}}hidden{{/if}}>
                            <label for="email" class="col-sm-3 col-form-label" >Email</label>
                            <div class="col-sm-9">
                            <input type="text" readonly class="form-control" id="email" name="email" value="{{user.email}}">
                            </div>
                        </div>
                        <div class="form-group row mb-4"{{#if user.phone}}{{else}} hidden {{/if}}>
                            <label for="phone" class="col-sm-3 col-form-label" >Phone number</label>
                            <div class="col-sm-9">
                            <input type="text" readonly class="form-control" id="phone" name="phone" value="{{user.phone}}" required/>
                            </div>
                        </div>
                        <div class="form-group row mb-4">
                            <label for="name" class="col-sm-3 col-form-label">Gender</label>
                            <div class="col-sm-9">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" id="gender-male" value="male" {{#ifeq user.gender 'male'}} checked {{/ifeq}}>
                                    <label class="form-check-label" for="gender-male">Male</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" id="gender-female" value="female" {{#ifeq user.gender 'female'}} checked {{/ifeq}}>
                                    <label class="form-check-label" for="gender-female">Female</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb-4">
                            <label for="birthday" class="col-sm-3 col-form-label">Birthday</label>
                            <div class="col-sm-9">
                            <input type="date" class="form-control" id="birthday" name="birthday"
                                    value="{{moment user.birthday format = "yyyy-MM-DD"}}"
                                    min="1960-01-01" max="2020-12-31">
                            </div>
                        </div>
                        <div class="form-group row mb-4">
                            <label for="address" class="col-sm-3 col-form-label">Address</label>
                            <div class="col-sm-9">
                            <input type="text" class="form-control" id="address" value="{{user.address}}">
                            </div>
                        </div>
                        {{!-- <div class="form-group row">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Password</label>
                            <div class="col-sm-9">
                            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                            </div>
                        </div> --}}

                        <hr class="my-4">

                        <button type="submit" class="btn btn-dark btn-block btn-lg form-control mb-1"
                            data-mdb-ripple-color="dark">Save changes</button>
                        {{#if message}}
                            <button type="submit" class="btn btn-success btn-block btn-lg form-control mb-1"
                            data-mdb-ripple-color="dark">{{message}}</button>
                        {{/if}}
                </div>
                <div class="col-5 edit-user-image text-center">
                    <img src="{{#if user.password}}/uploads/{{/if}}{{user.avatar}}" 
                    class="card-img-top mb-2" alt="img-user">
                    <input type="button" class="btn btn-outline-dark mb-2" id="input" value="SELECT IMAGE">
                    <h6>File size: maximum 1 MB</h6>
                    <h6>File accepted: JPG, PNG</h6>
                </div>
            </div>
        </form>
    </div>
</div>